Repository ryanmlo/1clickparish: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-json, flake8, black, eslint, validate-html

check-yaml:
  name: Check YAML
  entry: python -c 'import sys, yaml; [yaml.safe_load(open(f)) for f in sys.argv[1:]]'
  language: system

check-json:
  name: Check JSON
  entry: python -c 'import sys, json; [json.load(open(f)) for f in sys.argv[1:]]'
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --max-line-length=200
  - --extend-ignore=E203,W503

black:
  name: black
  entry: black
  language: system
  args:
  - --line-length=150

eslint:
  name: eslint
  entry: eslint
  language: system

validate-html:
  name: Validate HTML
  entry: python -c 'import sys; from html.parser import HTMLParser; [HTMLParser().feed(open(f).read()) for f in sys.argv[1:]]'
  language: system

chore: setup husky eslint pre commit
  .commitlintrc.json
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .pre-commit-config.yaml
  .prettierrc
  SETUP.md
  eslint.config.mts
  lambda/ssg/ssg.py
  package.json
Due: check-yaml, check-json, flake8, black

Removing checks that modify files.
  .pre-commit-config.yaml
Due: check-yaml

Adding some initial pre-commit checking.
  .eslintrc.json
  .pre-commit-config.yaml
  SETUP.md
  requirements.txt
Due: check-yaml, check-json

chore: add pre commit lint
  .pre-commit-config.yaml
  lambda/ssg/ssg.py
Due: check-yaml, flake8, black

Issue #11
  lambda/av/av.py
  lib/iac-stack.ts
Due: flake8, black

Changes based on feedback
  lambda/av/av.py
  lib/iac-stack.ts
Due: flake8, black

change
  lambda/av/av.py
Due: flake8, black

feat(wip): add lambda stack with permissions
  lambda/ssg/ssg.zip
  lib/lambda-stack.ts
Due: none

refactor(wip): changed lambda to draw from s3 bucket
  lambda/ssg/ssg.py
  lib/lambda-stack.ts
Due: flake8, black

chore: reorganize stack for clarity
  lib/iac-stack.ts
Due: none

fix: pass hd into lambda correctly
  lambda/av/av.py
  lib/iac-stack.ts
Due: flake8, black

fix: use correct python runtime
  lib/iac-stack.ts
Due: none

fix: facebook doesn't implement openid
  lib/iac-stack.ts
Due: none

fix: add autoConfirmUser for google auth
  lambda/av/av.py
Due: flake8, black

feat: admin auth pools
  lib/iac-stack.ts
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-json: any of: \.json$
  flake8: any of: \.py$
  black: any of: \.py$
  eslint: any of: \.(js|jsx)$
  validate-html: any of: \.html$
